!!! 5
%html
    %head
        %title Appointment Calendar
        %link{:href => "/static/officehours.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "static/officehours.js"}

    %body
        .container
    
